h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
.btn-default,
textarea {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
ul {
  list-style: none;
}

@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: Work Sans;
  src: url("../fonts/WorkSans-Regular.ttf");
}

/* ************************header section start ***************** */
/* mobile menu */
.mobile-menu {
  display: none;
}

.mobile-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px 5px 15px;
}

.mobile-image img {
  width: 30%;
}

.sidenav {
  text-align: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cbf8ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #323b6e;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

header .mobile-menu .contact-btns {
  width: 50%;
  margin: auto;
}

header .mobile-menu .contact-btns a.Enroll:hover,
header .mobile-menu .contact-btns a.login {
  transition: 0.5s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #cbf8ff;
  background: white;
  border: 1px solid #cbf8ff;
  border-radius: 4px;
  display: block;
  padding: 2px 10px;
  margin: 10px auto;
}

header .mobile-menu .contact-btns a.login:hover,
header .mobile-menu .contact-btns a.Enroll {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background: #cbf8ff;
  border: 1px solid #cbf8ff;
  border-radius: 4px;
  padding: 2px 10px;
  margin: 10px auto;
}

/* mobile menu */

.desktop-header {
  background-color: #d4faff;
  padding: 10px 0;
}

.desktop-header .header-logo a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  color: #323b6e;
}

.header-logo a {
  font-size: 40px;
  font-weight: bold;
  font: normal normal bold 41px/59px Rubik;
}

.desktop-header .header-logo img {
  width: 100%;
}

.desktop-header .header-main a {
  text-decoration: none;
  color: black;
  font: normal normal normal 16px/17px Rubik;
  letter-spacing: 0px;
  color: #323b6e;
  opacity: 1;
  padding: 0px 0px;
}

.desktop-header .header-main {
  text-align: center;
}

.desktop-header .client-div {
  text-align: right;
}

.desktop-header .client-div a {
  color: #000;
  text-decoration: none;
  /* text-align: inherit; */
}

.desktop-header .header-right a {
  text-decoration: none;
  color: black;
  border-radius: 25px;
  border: 1px solid black;
  padding: 6px 11px;
  font: normal normal normal 16px/12px Rubik;
  letter-spacing: 0px;
  color: #fff;
  opacity: 1;
}

.desktop-header .header-right {
  text-align: right;
}

.desktop-header .header-right .non-active {
  color: black;
}

.desktop-header .header-right .active {
  background-color: #323b6e;
}

/* ************************header section end ***************** */

/* ************************banner-section start ***************** */

.banner-section .banner-text h1 {
  text-align: left;
  /* padding: 0px 10px; */
  font: normal normal bold 42px/66px Rubik;
  letter-spacing: 0px;
  color: #323b6e;
  opacity: 1;
}

.banner-section .banner-text h5 {
  text-align: left;
  font: normal normal normal 17px/13px Rubik;
  letter-spacing: 0px;
  color: #6b6b6b;
  opacity: 1;
  padding: 10px 0;
}

.banner-section .banner-text input {
  margin: 10px 0;
  padding: 5px 17px;
  opacity: 1;
  font: normal normal normal 16px/23px Rubik;
  color: #d1d1d1;
  background: #f2f3fb 0% 0% no-repeat padding-box;
  border-radius: 19px;
  border: 0;
  width: 54%;
}

.banner-section .banner-text p {
  font: italic normal normal 13px/15px Rubik;
  letter-spacing: 0px;
  color: #b1b0b0;
  opacity: 1;
  padding: 7px 0;
}

.banner-section {
  background-image: url("../images/banner/3.png");
  padding: 0 50px;
}

.banner-img img {
  width: 100%;
  padding: 50px 0px;
  margin: 20px 0;
}

.banner-products {
  text-align: center;
  border-radius: 15px;
  height: 172px;
  /* background: rgb(20, 161, 161); */
  padding: 17px 18px;
  background: aliceblue;
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-28 15:39:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.banner-product-section {
  position: relative;
  bottom: 50px;
}

/* ************************banner-section end ***************** */

/* ************************Digital-Services-section  start ***************** */

section.Digital-Services-section {
  margin: 50px;
}

section.Digital-Services-section h4 {
  padding: 30px 0;
  text-transform: capitalize;
}

.Digital-Services-div {
  margin: 15px 0;
}

.digital-content {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.digital-content a {
  font: normal normal normal 15px/18px Rubik;
  letter-spacing: 0px;
  color: #a1a1a1;
  text-decoration: none;
}

.digital-content i {
  opacity: 1;
  padding: 5px;
  border: 1px solid #a1a1a1;
  display: inline-block;
  color: #a1a1a1;
  font-size: 9px;
  border-radius: 50%;
}

/* ************************Digital-Services-section  end ***************** */

/* ************************Ease-of-Working-section  start ***************** */

.Working-div h1 {
  text-align: left;
  font: normal normal bold 50px/66px Rubik;
  letter-spacing: 0px;
  color: #323b6e;
  opacity: 1;
}

.Working-div p {
  text-align: left;
  font: normal normal normal 19px/25px Rubik;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
  padding: 10px 0px;
}

.Working-div h4 {
  text-align: left;
  font: normal normal bold 25px/18px Rubik;
  letter-spacing: 0px;
  padding: 15px 0;
  color: #313131;
  opacity: 1;
}

.Working-img img {
  width: 100%;
}

.Ease-of-Working {
  margin: 50px;
}

.Working-div a {
  font: normal normal normal 17px/20px Rubik;
  letter-spacing: 0px;
  text-decoration: none;
  color: #323b6e;
}

.Working-div i {
  opacity: 1;
  padding: 4px;
  border: 1px solid #000;
  display: inline-block;
  color: #000;
  font-size: 9px;
  border-radius: 50%;
}

/* ************************Ease-of-Working-section  end ***************** */

/* ************************Digital-section-section start ***************** */

.Digital-text h1 {
  text-align: left;
  font: normal normal bold 44px/51px Rubik;
  letter-spacing: 0px;
  color: #323b6e;
  padding: 10px 0;
  opacity: 1;
}

.Digital-text a {
  font: normal normal normal 17px/20px Rubik;
  letter-spacing: 0px;
  text-decoration: none;
  color: #323b6e;
}

.Digital-text i {
  opacity: 1;
  padding: 4px;
  border: 1px solid #000;
  display: inline-block;
  color: #000;
  font-size: 9px;
  border-radius: 50%;
}

.Digital-text h6 {
  /* text-align: left; */
  font: normal normal bold 17px/25px Rubik;
  letter-spacing: 0px;
  color: #a1a1a1;
  padding: 10px 0;
  opacity: 1;
}

.Digital-text p {
  text-align: left;
  font: normal normal normal 17px/24px Rubik;
  letter-spacing: 0px;
  padding: 10px 0;
  color: #a1a1a1;
  opacity: 1;
}

.Digital-div img {
  width: 100%;
}

/* ************************Digital-section end ***************** */

/* ************************Physical-Pros-section start ***************** */

.Physical-Pros-div img {
  width: 100%;
}

.Physical-Pros-text p {
  text-align: left;
  font: normal normal normal 17px/24px Rubik;
  letter-spacing: 0px;
  padding: 10px 0;
  color: #a1a1a1;
  opacity: 1;
}

.Physical-Pros-text h6 {
  text-align: left;
  font: normal normal 600 16px/25px Rubik;
  letter-spacing: 0px;
  color: #a1a1a1;
  padding: 10px 0;
  opacity: 1;
}

.Physical-Pros-text h1 {
  text-align: left;
  font: normal normal bold 37px/27px Rubik;
  letter-spacing: 0px;
  color: #323b6e;
  padding: 10px 0;
  opacity: 1;
}

.Physical-Pros-text a {
  font: normal normal normal 17px/20px Rubik;
  letter-spacing: 0px;
  text-decoration: none;
  color: #323b6e;
}

.Physical-Pros-text i {
  opacity: 1;
  padding: 4px;
  border: 1px solid #000;
  display: inline-block;
  color: #000;
  font-size: 9px;
  border-radius: 50%;
}

.Physical-Pros-text {
  padding: 0 51px;
}

/* ************************Physical-Pros-section end ***************** */

.product-slider-section {
  margin: 50px;
}

.product-slider-main-wrap {
  margin: 50px 0;
}

#product1 .owl-nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: absolute;
  top: 49%;
  left: -14%;
  width: 122%;
}

button.owl-prev span {
  border-radius: 5px;
  /* background: gray; */
  padding: 0px 5px;
  /* display: inline-block; */
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: -5%;
  font-size: 20px;
  line-height: 1.5;
}

button.owl-next span {
  /* border-radius: 30px; */
  /* background: gray; */
  /* padding: 5px; */
  /* position: absolute; */
  /* top: 50%; */
  /* right: -5%; */
  border-radius: 5px;
  /* background: gray; */
  padding: 0px 5px;
  /* display: inline-block; */
  border: 1px solid black;
  position: absolute;
  top: 50%;
  right: -5%;
  font-size: 20px;
  line-height: 1.5;
}

.product-slider-section h1 {
  text-align: center;
  font: normal normal medium 55px/65px Rubik;
  letter-spacing: 0px;
  margin: 50px;
  color: #323b6e;
  opacity: 1;
}

.inner-item h6 {
  text-align: center;
  padding: 20px 0 10px 0;
  font: normal normal bold 16px/22px Rubik;
  letter-spacing: 0px;
  color: #323b6e;
  opacity: 1;
}

.inner-item p {
  text-align: center;
  font: normal normal normal 12px/15px Rubik;
  letter-spacing: 0px;
  color: #bfbfbf;
  opacity: 1;
}

.footer-logo img {
  width: 100%;
}

.footer-logo {
  margin: 30px;
}

.footer-contact p {
  text-align: left;
  font: normal normal bold 13px/27px Rubik;
  letter-spacing: 0px;
  color: #fff;
  padding-left: 28px;
  opacity: 1;
}

.footer-contact a {
  text-align: left;
  font: normal normal bold 22px/39px Rubik;
  color: #fff;
  text-decoration: none;
}

.footer-contact input {
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
}

.footer-content h1 {
  text-align: left;
  color: #fff;
  font: normal normal bold 39px/65px Rubik;
}

.footer-content h4 {
  text-align: left;
  color: #fff;
  font: normal normal bold 22px/39px Rubik;
}

.footer-content p {
  text-align: left;
  font: normal normal normal 12px/23px Rubik;
  letter-spacing: 0px;
  color: #fff;
}

.footer-content a {
  text-align: left;
  text-decoration: none;
  padding: 0 0px;
  color: #fff;
  font: normal normal normal 15px/31px Rubik;
}

.footer-section {
  background-color: #323b6e;
  padding: 50px;
}

.copywrite-section {
  background-color: #eb6060;
  padding: 6px 0;
  color: white;
}

.copywrite-left {
  /* padding: 0 60px; */
  text-align: left;
}

/* shash kay  */

/* button {
    background: linear-gradient(to left,#AD1115 50%, #fff 50%);
    background-position: left bottom;
    transition: all .6s ease-out;
    background-size: 200% 100%;
}
button:hover{
  background-position: right bottom;
} */

/* inner scroll side bar  */

/* className::-webkit-scrollbar {
	width: 4px;
} */
/* Track */

/* className::-webkit-scrollbar-track {
	background: #d4d4d4 ;
} */
/* Handle */

/* className::-webkit-scrollbar-thumb {
	background: #790101 ;
} */
/* Handle on hover */

/* className::-webkit-scrollbar-thumb:hover {
	background: #8b8b8b;
}  */
.product-slider-section .inner-item {
  padding: 0px 10px;
}

.product-slider-main-wrap .inner-star {
  color: rgb(173, 173, 2);
  text-align: center;
}

.footer-search {
  position: relative;
}

.footer-search input {
  margin: 10px 0;
  padding: 6px 10px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 16px/23px Rubik;
  color: #d1d1d1;
  background: #f2f3fb 0% 0% no-repeat padding-box;
  border-radius: 22px;
  border: 0;
  width: 74%;
}

.footer-search button {
  opacity: 1;
  padding: 7px 14px;
  border: 1px solid #a1a1a1;
  display: inline-block;
  color: #a1a1a1;
  font-size: 14px;
  position: absolute;
  background: #eb6060;
  border-radius: 50%;
  right: 26%;
  top: 18%;
  border: 0;
}

.footer-search i {
  color: #fff;
}

.footer-content a i {
  font-size: 20px;
  margin: 6px;
}
.copywrite-right {
  text-align: right;
}

/* ************************firstpage section start********************* */

.services-section {
  background-color: #323b6e;
  padding: 24px;
}

.services-bar {
  position: relative;
}

.services-bar i {
  color: gray;
  position: absolute;
  top: 23%;
  right: 8%;
}

.filter-div {
  color: white;
  text-align: right;
}

.services-section input {
  background: #f2f3fb 0% 0% no-repeat padding-box;
  border-radius: 19px;
  padding: 3px 48px;
  width: 95%;
  border: 0;
}

.services-section a i {
  color: white;
  font-size: 46px;
  background: green;
  padding: 5px 72px;
}

.first-div {
  display: flex;
}

.first-div img {
  width: 20%;
}

.first-div p {
  padding: 30px 20px;
  color: #ababab;
}

.parent-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star-rating {
  color: #d1d112;
}

.star-rating span {
  color: black;
  padding: 0 13px;
}

section.banner-rating-section {
  padding: 30px 0;
}

.banner-content h4 {
  text-align: left;
  font: normal normal bold 21px/36px Rubik;
  letter-spacing: 0px;
  padding: 0 0 27px 0px;
  /* margin: 10px 0; */
  color: #2d2d2d;
  opacity: 1;
}

.third-div {
  display: flex;
  margin: 0px 40px;
  align-items: center;
}

.third-div p {
  margin: 0 10px;
}

.third-div i {
  color: gray;
}

#product2 {
  margin: 15px 0;
}

#product2 .item {
  margin: 0p 0px 0px 6px;
  margin-right: 10px;
}

#product2 .item:nth-child(3) {
  margin: 0;
}

.banner-rating-section .third-div i:nth-child(3) {
  color: #323b6e;
}

[data-content] {
  display: none;
}

.active[data-content] {
  display: block;
}

.price-per-package .tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: lightgray; */
}

.price-per-package .tabs li {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}

.tabs-heading-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 16px 0; */
  /* text-align: left; */
  /* font: normal normal bold 20px/24px Rubik; */
  /* letter-spacing: 0px; */
  /* color: #545151; */
  /* opacity: 1; */
}

.tabs-heading-price h6 {
  /* padding: 16px 0; */
  text-align: left;
  font: normal normal normal 19px/24px Rubik;
  letter-spacing: 0px;
  color: #545151;
  opacity: 1;
}

.tabs-heading-price span {
  padding: 16px 0;
  text-align: left;
  font: normal normal bold 22px/24px Rubik;
  letter-spacing: 0px;
  color: #323b6e;
  opacity: 1;
}

.content.active p {
  padding: 0px 42px;
  text-align: left;
  font: normal normal normal 15px/19px Rubik;
  letter-spacing: 0px;
  color: #2e2e2e;
  opacity: 1;
}

.tabs-content span {
  /* text-align: left; */
  font: normal normal normal 18px/19px Rubik;
  letter-spacing: 0px;
  margin: 0px 10px;
  color: #545151;
  opacity: 1;
}

.tabs-content {
  /* padding: 0 46px; */
  text-align: center;
  padding: 12px 0;
}

.starter-links ul li {
  /* padding: 0 43px; */
  text-align: left;
  font: normal normal normal 16px/28px Rubik;
  letter-spacing: 0px;
  color: #2e2e2e;
  opacity: 1;
}

.price-per-package {
  background: #ffffff;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000042;
  border: 1px solid #e3e3e3;
  margin: 0 0px;
}

.starter-links ul li i {
  color: red;
  font-weight: bold;
  font-size: 19px;
  margin: 0 12px;
}

.starter-links h4 {
  margin: 7px 10px;
  font-size: 20px;
}

.starter-links {
  margin: 1px 37px;
}

.price-per-package .tabs .active {
  border-bottom: 4px solid #323b6e;
}

/* about us div */

.about-seller .abo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 0 0; */
  margin: 26px 0px;
}

.abo img {
  width: 17%;
}

.about-content {
  margin: 0 32px;
}

.about-seller a {
  text-decoration: none;
  color: white;
  background: #323b6e;
  padding: 10px 31px;
  border-radius: 23px;
}

.about-content h6 i {
  color: #d1d112;
}

.about-btn2 a {
  font: normal normal normal 18px/24px Rubik;
  /* letter-spacing: 0px; */
  background: #323b6e;
  padding: 5px 0px;
  display: block;
  border-radius: 9px;
  margin: 19px 0;
  color: #ffffff;
  text-decoration: none;
  /* opacity: 1; */
}

.about-us-div p {
  margin: 22px 0;
  /* padding: 3px 0; */
  font: normal normal normal 16px/23px Rubik;
  letter-spacing: 0px;
  color: #747474;
  /* opacity: 1; */
}

.about-us-div h4 {
  font: normal normal bold 25px/37px Rubik;
  letter-spacing: 0px;
  color: #2d2d2d;
}

.about-seller h1 {
  font: normal normal bold 26px/36px Rubik;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #2d2d2d;
  margin: 26px 0;
}

.about-btn2 {
  /* width: 68%; */
  text-align: center;
}

/* ****sign-inn form***** */

.sign-in-form h5 {
  margin: 24px 0;
  text-align: center;
  font: normal normal bold 35px/47px Rubik;
  letter-spacing: 0px;
  color: #323b6e;
  opacity: 1;
}

.sign-in-form input {
  opacity: 1;
  background: #eeeeee 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001f;
  border-radius: 10px;
  width: 73%;
  border: 0;
  color: #f8c5c7;
  margin: 15px 0;
  padding: 13px 15px;
}

.sign-in-form input::placeholder {
  color: #f8c5c7;
}

.sign-in-form button {
  background: #eb6060;
  padding: 9px 0px;
  border-radius: 6px;
  width: 72%;
  text-transform: uppercase;
  margin: 29px 0px;
  border: 0;
  color: antiquewhite;
}

.sign-in-form {
  text-align: center;
}

.sign-in-possition i {
  color: #f8c5c7;
  position: absolute;
  right: 17%;
  bottom: 36%;
}

.sign-in-possition {
  position: relative;
}

.creat-an-account a {
  color: #323b6e;
  text-decoration: none;
  padding: 0 12px;
}

.creat-an-account a:nth-child(1) {
  color: #545151;
}

.creat-an-account {
  text-align: center;
}

section.sign-in-form-section {
  margin: 30px;
}

/* about seeller  */
.about-selle-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-seller-country p {
  padding-top: 21px;
  color: #5d5d5d;
}

.about-seller-country2 p {
  font: normal normal medium 20px/24px Rubik;
  color: #5d5d5d;
  padding-top: 21px;
}

.about-seller-country h6 {
  color: #5d5d5d;
}

.about-seller-country2 h6 {
  color: #5d5d5d;
}

.about-seller-detail {
  border: 1px solid #b7b7b7;
  padding: 30px;
  margin: 10px;
}

.items3 {
  width: 23%;
}

.recommended .person-1 img {
  width: 24%;
}

.recommended .person-1 {
  display: flex;
  align-items: center;
}

.recommended .person-1 h6 {
  padding: 0 20px;
  color: #ababab;
}

.recommended .person-1 i {
  font-size: 15px;
}

.recommended .person-rating i {
  color: #d1d112;
}

.recommended .person-rating span {
  color: #747474;
  padding: 0 15px;
  font-size: 11px;
}

.recommended .person-rating p {
  padding: 10px 0px;
  font: normal normal bold 17px/23px Rubik;
  letter-spacing: 0px;
  color: #2d2d2d;
}

.recommended .person-starting i {
  color: #d4d1d1;
}

.recommended .person-starting span {
  color: #363636;
  font-size: 10px;
}

.person-starting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.rating {
  padding: 1px 15px;
  margin: 5px;
}

.related-course {
  border: 1px solid #bcbcbc;
  margin: 1px;
}

.reviwes-rating {
  display: flex;
  align-items: start;
  gap: 19px;
  margin: 25px 0;
}

.reviwes-rating img {
  width: 12%;
}

.person-profile-detail {
  /* display: flex; */
  gap: 22px;
}

.person-profile-detail i {
  color: #d1d112;
}

.person-profile-detail h6 {
  margin: 17px 0;
  color: #ababab;
}

.person-profile-detail h6 i {
  margin: 0px 9px;
}

/* sign  up page  */

.sign-up-form h5 {
  margin: 24px 0;
  text-align: center;
  font: normal normal bold 35px/47px Rubik;
  letter-spacing: 0px;
  color: #323b6e;
  opacity: 1;
}

.sign-up-form input {
  opacity: 1;
  background: #eeeeee 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001f;
  border-radius: 10px;
  width: 73%;
  border: 0;
  color: #f8c5c7;
  margin: 15px 0;
  padding: 13px 15px;
}

.sign-up-form input::placeholder {
  color: #f8c5c7;
}

.sign-up-form button {
  background: #eb6060;
  padding: 9px 0px;
  border-radius: 6px;
  width: 72%;
  text-transform: uppercase;
  margin: 29px 0px;
  border: 0;
  color: antiquewhite;
}

.sign-up-form {
  text-align: center;
}

.sign-up-possition i {
  color: #f8c5c7;
  position: absolute;
  right: 17%;
  bottom: 36%;
}

.sign-up-possition {
  position: relative;
}

.creat-an-account a {
  color: #323b6e;
  text-decoration: none;
  padding: 0 12px;
}

.creat-an-account a:nth-child(1) {
  color: #545151;
}

.creat-an-account {
  text-align: center;
}

section.sign-up-form-section {
  margin: 30px;
}

input[type="text"]:focus {
  /* border: 1px solid #00ff6f; */
  outline: none;
}

.Recommended-for-you h4 {
  margin: 25px 10px;
}

.costumer-reviwes {
  margin: 30px;
}

.costumer-reviwes h6 {
  font: normal normal bold 22px/36px Rubik;
  letter-spacing: 0px;
  color: #2d2d2d;
}

.costumer-reviwes i {
  color: #d1d112;
}

.costumer-reviwes span {
  padding: 0 38px;
}

#product1 .owl-nav svg {
  color: #000;
  height: 38px;
  width: 47px;
  display: block;
  border-radius: 50%;
  background-color: #e6e7ec;
  font-size: 27px;
}

/* job-search-section */

.job-search-section {
  padding: 20px 10px;
  background-color: #323b6e;
}

.job-search {
  color: #fff;
}

.search-bar-content {
  background: #f2f3fb 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 21px;
  margin: 28px;
  /* position: relative; */
}

.search-bar-content h6 {
  color: #707070;
  font-size: 25px;
}

.search-bar input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b9c9de;
  border-radius: 8px;
  padding: 10px 13px;
  width: 100%;
}

.search-bar i {
  position: absolute;
  right: 5%;
  top: 71%;
  font-size: 19px;
  color: gray;
}

.search-bar {
  position: relative;
}

.search-bar p {
  color: gray;
  font-size: 24px;
  padding: 12px 0;
}

.search-bar-btn input {
  padding: 12px 0px;
  margin: 10px 0;
  width: 46%;
  /* background: #EEEEEE; */
}

.search-bar-btn p {
  color: gray;
  font-size: 21px;
  padding: 13px 0px;
}

.search-bar-btn .like {
  background: #eeeeee;
  border: 1px solid #b9c9de;
  padding: 17px 27px;
  border-radius: 8px;
  width: 48%;
  border-radius: 8px;
}

.search-bar-btn .like1 {
  border: 0;
  padding: 17px 27px;
  border-radius: 8px;
  font: normal normal normal 20px/24px Work Sans;
  letter-spacing: 0px;
  color: #ffffff;
  width: 50%;
  background: #eb6060 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

.sort-by-parent {
  background: #f2f3fb 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 26px;
  margin: 21px;
}

.sort-by-div p {
  padding-bottom: 8px;
  font-size: 25px;
  color: gray;
}

.sort-by-div input {
  width: 68%;
  padding: 6px 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

select.form-select {
  width: 101%;
  padding: 12px 21px;
  color: #878787;
}

.search-rang p {
  color: gray;
  font-size: 22px;
  padding: 13px 0;
}

.search-rang input {
  width: 92%;
}

.send-proposal-div h6 {
  font: normal normal bold 22px/32px Work sans;
  letter-spacing: 0px;
  color: #323b6e;
}

.send-proposal-div p {
  font: normal normal normal 19px/27px Work Sans;
  letter-spacing: 0px;
  margin: 31px 0;
  color: #000000;
}

.send-proposal-div {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  margin: 29px 0;
  padding: 30px;
}

.proposal-pricing {
  display: flex;
  gap: 38px;
}

.proposal-parent-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proposal-pricing h5 {
  font: normal normal bold 23px/24px Work Sans;
  letter-spacing: 0px;
  color: #4d6281;
}

.proposal-pricing span {
  /* color: black; */
  padding: 0 22px;
  font: normal normal 600 25px/29px Work Sans;
  letter-spacing: 0px;
  color: #323b6e;
}

.proposal-parent-div button {
  background: #eb6060 0% 0% no-repeat padding-box;
  border-radius: 6px;
  padding: 8px 0;
  width: 36%;
  font: normal normal normal 19px/33px Rubik;
  letter-spacing: 0px;
  color: #ffffff;
  border: 0;
}

.proposal-pricing h5 {
  font: normal normal normal 22px/24px Work Sans;
  letter-spacing: 0px;
  color: #323b6e;
}

.search-bar-btn like {
  border: 1px solid gray;
}
